        </div><!-- /.container -->

    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/registrazione.js"></script>
    <script type="text/javascript" src="/js/crea.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>