<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Pagina collezioni</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <span class="nome">
          <a href="#">Benvenuto <%= user %></a>
        </span>
        <span class="logout">
          <a href="#">LogOut</a>
        </span>
      </div>
    </nav>

    <div class="container">


