* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a:hover, a:link, a:visited, a:active{
    color: black;
}

h3{
    margin: 2em 0;
}

.nome{
    color: white;
    position: fixed;
    right: 50%;
    top:1%;
    text-align: center;
}

.logout{
    color: white;
    position: fixed;
    right: 50px;
    top:1%;
    text-align: right;
}

/* Float four columns side by side */
.column {
    float: left;
    margin: 5px;
    width: 30%;
    max-width: 200px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    min-height: 154px;
}

.img_card{
    padding: 0;
    max-height: 95px;
}