*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

a:hover, a:link, a:visited, a:active{
    color: black;
}

h3{
    margin: 2em 0;
}

.nome{
    position: absolute;
    cursor: pointer;
}
.nome a{
    color: #9d9d9d;
    position: fixed;
    right: 50%;
    top: 12px;
    text-align: center;
}
.logout{
    position: absolute;
    cursor: pointer;
}
.logout a{
    color: #9d9d9d;
    position: fixed;
    right: 50px;
    top: 12px;
    text-align: right;
}
.rendo{
    position: absolute;
    cursor: pointer;
}
.rendo a{
    color: #9d9d9d;
    position: fixed;
    left: 50px;
    top:12px;
    text-align: left;
}
.body-container{
    margin-left: 35px;
    width: 90%;
    height: 100%;
}
.row {
    display: -moz-grid;
}
.column {
    position: relative;
    float: left;
    align-items: center;
    margin: 15px;
    width: 250px;
    height: 300px;
}
.card {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    background-color: #f1f1f1;
    height: 300px;
    width: 250px;
}
.img_card{
    margin-top: 70px;
    width: 150px;
    height: 150px;
}

.a-proj{
    padding: 0;
    border: 0;
}
.a-proj :hover{
    background-color: #e9e9e9;
}
.btn-proj {
    position: absolute;
    top: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: none;
}
.btn-proj.cancel {
    left: 5px;
    background-image: url("../img/cancel.png");
    background-color: #f1f1f1;
    background-size: 30px 30px;
}
.btn-proj.change {
    right: 5px;
    background-image: url("../img/change.png");
    background-color: #f1f1f1;
    background-size: 30px 30px;
}

.modal-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);    
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-attiva{
    visibility: visible;
    opacity: 1;
}
.modal1{
    position: relative;
    background-color: white;
    padding: 15px;
    width: 35%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal2{
    position: relative;
    background-color: white;
    padding: 15px;
    width: 55%;
    height:44%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal-m-close, .modal-c-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold; 
    cursor: pointer;   
}
.card h3{
    top: 0;
    right: 0;
    margin-top: 15px;
}
.tag{
    padding-bottom: 20px;
    justify-content: space-between;
}
.scroll{
    position: relative;
    top: 50px;
    height: 240px;
    left: 15px;
    width: 90%;
    overflow: hidden;
    overflow-y: scroll;
}

@media all and (max-width: 736px){
    .row {
        display: -ms-grid;
    }
    
    .column {
        position: relative;
        float: left;
        width: 100%;
        align-items: center;
    }
    .card {
        position: absolute;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        align-items: center;
        background-color: #f1f1f1;
        height: 300px;
        width: 100vw;
    }
}