<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Pagina collezioni</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
    <div class="container">
        <h1>Crea Collezione</h1>
        <form name="creaCollezione" id="formCrea">  
            <div class="form-group">
                <label>Nome: </label>
                <input type="text" name="nome" class="form-control" id="name" placeholder="Nome" required>
                <input type="hidden" name="email" id="email" value="<%= email %>">
            </div>
            <button type="button" class="btn btn-default" onclick="crea()">Crea nuova collezione</button>
        </form>
        <p id="errore"></p>

<%- include ('../layouts/footer.ejs') %>