<%- include ('../layouts/startHeader.ejs') %>

<h1>Tenere traccia dei propri oggetti con un click!!</h1>
<h2>Anche te hai problemi a ricordarti le cose che hai?? Usa il nostro tool per creare le tue collezioni personali GRATUITAMENTE!! Affrettati la promozione è solo per questa settimana!!</h2>

<%- include ('../layouts/footer.ejs') %>