<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Pagina oggetti</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <span class="return">
            <a href="#">Torna indietro</a>
          </span>
        <span class="nome">
          <a href="#">Collezione <%= nome_coll %></a>
        </span>
        <span class="logout">
          <a href="#">LogOut</a>
        </span>
      </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="column">
                <a href="#">
                    <div class="card">
                        <img class="img_card" src="/img/plus.png" alt="+">
                    </div>
                </a>
            </div>
            <% for(var i=0 ; i < obj.length ; i++) {%>
                <div class="column">
                    <div class="card">
                        <h3><%= obj[i].name %></h3>
                    </div>
                </div>
            <% } %>
        </div>

<%- include ('../layouts/footer.ejs') %>